@model IEnumerable<RePOS.Models.TbCategory>

<!-- Modal content-->
<div class="modal fade" id="add-item" tabindex="-1" aria-labelledby="add-item-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="@Url.Action("Create", "Item")">
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label for="item.name" class="form-label">Menu item name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter item name" required>
                    </div>
                    <div class="mb-3">
                        <label for="menu.cat" class="form-label">Menu Category</label>
                        <select class="form-control" name="platform" required>
                            <option value="" selected>-- Select Menu category --</option>
                            @foreach (var category in Model)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }

                        </select>
                    </div>

                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>