@{
    Layout = "_Layout";
    ViewData["Title"] = "RePOS - Menu Items";
}


@{
    ViewBag.PageName = "Menu Items";
}

@section HeaderRight {
    <div class="float-right">
        <div class="btn-group mr-1 mb-2">
            <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#add-item"> Add Item </button>
        </div>
    </div>
    @Html.Partial("~/Views/Setup/Item/_AddItem.cshtml")
}